snippet tkr "Formal Template" b
Dear $1,

$0

Kind Regards,
Bernhard Koenig



endsnippet

snippet hel "Hello Template" b
Hello,

$0

Bernhard


endsnippet

snippet hal "Hallo Template" b
Hallo,

$0

Bernhard


endsnippet
