snippet dear "Dear Template" b
Dear ${1:[Recipient]},

${0:[Text]}

Best,
Bernhard Koenig



endsnippet

snippet sehr "Sehr geehrte(r) Template" b
Sehr geehrte${1:[Empfänger]},

${0:[Text]}

Mit freundlichen Grüßen,
Bernhard König



endsnippet

snippet hello "Hello Template" b
Hello,

${0:[Text]}

Bernhard


endsnippet

snippet hallo "Hallo Template" b
Hallo,

${0:[Text]}

Bernhard


endsnippet
