snippet best "Best Template" b
Hi $1,

$0

Best,
Bernhard



endsnippet

snippet kind "Formal Template" b
Dear $1,

$0

Kind Regards,
Bernhard Koenig



endsnippet

snippet hel "Hello Template" b
Hello $1,

$0

Bernhard


endsnippet

snippet hal "Hallo Template" b
Hallo $1,

$0

Bernhard


endsnippet
