snippet briefkopf "Briefkopf deutsch" b
Bernhard König
Arndtstr. 17
85356 Freising
bakoenig@gmail.com

${1:[EmpfängerAdresse]}

${2:[Betreffzeile]}

Sehr geehrte$3,

${4:[Text]}


Mit freundlichen Grüßen,
Bernhard König

endsnippet
